body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


#navybg {
    background-color: #001540;
    color: white; 
}

#logo {
    display: block;
    justify-content: flex-start;
    margin-left: 200px;
    margin-top: 20px;
}

.buttons{
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0; 
    margin-right: 300px;
    margin-top: -10px;
    gap: 20px;
}

hero {
    margin-left: 200px;
    display: flex; 
    margin-top: 60px; 
    margin-bottom: 50px;
}

#herotext {
    width: 550px;
    text-wrap: wrap;
}

#heropic {
    margin-left: 200px; 
    
}

button#SU {
    background-color: #1591EA;
    color: white;
    border-radius: 10px;
    height: 30px;
    width: 110px;
}


#white {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    padding: 30px 0 60px 0; 
}

#gallery {
    display: flex;
    flex-direction: row;
    gap: 40px;

}


.blankbox 
{
    width: 180px; 
    height: 180px;
    background-color: white;
    border: 3px solid skyblue;
    margin: 10px;
    outline: 5px navy;
    color: white;
    border-radius: 10px;
}

.quote {
    display: flex;
    justify-content: center;
    font-size: 25px;
    background-color: lightgray;
    padding-top: 160px;
    padding-bottom: 160px;
}

#quotes {
    width: 900px;
    text-wrap: wrap;
}

.cta {
    display: flex; 
    justify-content: center;
    padding: 160px 80px ; 
}

#bluebox {
    background-color:#1591EA;
    height: 200px;
    width: 1200px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#signup {
    border: solid 2px white;
    color: white;
    background-color: #1591EA;
    margin-left:120px;
    height: 30px;
    width: 110px;
    border-radius: 10px;
}

#ctatext {
    margin-right: 120px; 
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #001540;
    height: 100px;
    color:white; 
}